<div class='header-container'>
  <div class='header-inner-container'>
    <div class='logo'>
      <%= link_to 'Easy IP Geolocation', root_path, class: 'header-logo' %>
    </div>
    <div class='pages-links'>
      <%= link_to 'Docs', docs_path, class: 'header-link' %>
      <% if logged_in? %>
        <%= link_to 'Api Keys', api_keys_path, method: :get, class: 'header-link' %>
        <%= link_to 'Sign Out', session_path, method: :delete, class: 'header-link' %>
      <% else %>
        <%= link_to 'Sign In', login_path, class: 'header-link' %>
        <%= link_to 'Register', new_user_path, class: 'header-link' %>
      <% end %>
    </div>
  </div>
</div>
