<div class='column-container'>
  <div class='geolocation'>
    <div id='request-ip'><p class='fa fa-map-marker'><%= @request_ip %></p></div>
    <p>{country: <%= @location.country %>,</p>
    <p>abbreviation: <%= @location.abbreviation %>,</p>
    <p>region: <%= @location.region %>,</p>
    <p>city: <%= @location.city %>}</p>
  </div>
</div>
