<div class='column-container'>
  <% if @api_keys.present? %>
    <div class='row-container'>
      <table class=user-api-keys-table>
        <thead class='user-api-keys-table-head'>
          <tr>
            <th class='px5'>Token</th>
            <th>Active</th>
            <th>Created</th>
          </tr>
        </thead>
        <tbody>
          <% @api_keys.order_by_active.order_by_created.each do |api_key| %>
            <tr>
              <th>
                <span class='px5'><%= api_key.token %></span>
              </th>
              <th>
                <span class=<%= api_key.active ? 'api-key-active' : 'api-key-inactive'%>>
                  <%= api_key.active %>
                </span>
              </th>
              <th><%= api_key.created_at %></th>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  <%= form_tag api_keys_path, method: :post, class: 'create-new-api-key-form' do %>
    <%= submit_tag 'Create New API Key' %>
  <% end %>
</div>
