<!DOCTYPE html>
<html>
  <head>
    <title>Free IP Geolocation API</title>
    <meta name="description" content="Free IP geolocation lookup API. 15,000 free requests a month to identify the location of your user's in real time.">
    <meta name="keywords" content="ip location api, geo ip api, locate ip, ip location, ip to country, ip geolocation">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render "partials/header" %>
    <%= render "partials/flash_messages" %>
    <%= yield %>
  </body>
</html>
